<h1>Directivas Estructurales</h1>
<hr>


<div class="row">
    <div class="col-md-6">
        <h3>*ngIf</h3>
        <hr>
        <button (click)="mostrar =!mostrar"
                type="button" name="" id="" class="btn btn-primary btn-lg btn-block">Mostrar</button>
        <br>
        <div class="card text-white bg-primary mb-3" *ngIf="mostrar">
            <div class="card-body">
              <h5 class="card-title">{{autor}}</h5>
              <p class="card-text">{{texto}}</p>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <h3>*ngFor</h3>
        <hr>

        <ul class="list-group">
            <li *ngFor="let item of personajes" class = "list-item">{{item}}</li>
        </ul>
    </div>
</div>